
<h1>Listing Complaint Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Edit</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @complaint_types.each do |complaint_type| %>
      <tr>
        <td><%= complaint_type.name %></td>
        <td><%= link_to 'Show', complaint_type %></td>
        <td><%= link_to 'Edit', edit_complaint_type_path(complaint_type) %></td>
        <!-- <td><%#= link_to 'Destroy', complaint_type, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint type', new_complaint_type_path %>
