<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @complaint_type.name %>
</p>

<%= link_to 'Edit', edit_complaint_type_path(@complaint_type) %> |
<%= link_to 'Back', complaint_types_path %>
